{% extends 'base.html' %} {% block content %}
<main class="container mt-4">
  <form action="/signin/" method="POST" class="card bard-body">
    <div class="row">
      <div class="col col-md-4 offset-md-4">
        <h1 class="text-center">Signin</h1>
        {{error}} {% csrf_token %}

        <div class="mb-3">
          <label for="username">UserName:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            id="username"
            placeholder="Username..."
          />
        </div>
        <div class="mb-3">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="password"
            placeholder="Password..."
          />
        </div>
        <button class="btn btn-primary">signin</button>
      </div>
    </div>
  </form>
</main>

{% endblock %}
